apiVersion: apps/v1
kind: Deployment
metadata:
  name: products
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: products
  template:
    metadata:
      labels:
        app: products
    spec:
      containers:
        - name: products
          image: microservices-e-commerce-application_products:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: MONGO_URI
              value: mongodb://mongo:27017/ecommerce

