apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search
  template:
    metadata:
      labels:
        app: search
    spec:
      containers:
        - name: search
          image: microservices-e-commerce-application_search:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3001

