apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: microservices-e-commerce-application_users:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000

